<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>teste de html com pyton</title>
        <link rel"stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <h1>ola, {{usuario}}!</h1>
    <p>cookie: {{cokie_usuario}}</p>

    <form method="posr">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" required>
        <button type="submit">Enviar</button>
    </form>
    
    <script href="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>